@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #BDBDA1;
    font-family: "Bebas Neue", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    border-bottom: solid 1px black;
}

#header-logo {
    height: 4rem;
}

#nav {
    align-self: end;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1rem;
    font-size: 1.5rem;
}

footer {
    align-self: end;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

footer img {
    height: 1rem;
}

#email,
#instagram {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
}

a {
    color: black;
    text-decoration: none;
}

#about-top-img-container {
    width: 100vw;
    position: relative;
    border-bottom: solid 1px black;
}

#about-main-img {
    width: 100vw;
    z-index: 1;
}

#about-title {
    position: absolute;
    top: 2rem;
    color: white;
    font-size: 6rem;
    z-index: 2;
    text-align: center;
    width: 100vw;
}

#about-quote-container {
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    border-bottom: solid 1px black;
}

#about-quote {
    border: solid 1px black;
    width: 30rem;
    font-size: 1.5rem;
    padding: 2rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

#about-experience-btn {
    background-color: rgb(67, 67, 67);
    color: white;
    width: 10rem;
    margin-top: -2rem;
    justify-self: end;
    font-family: "Bebas Neue";
    font-size: 1.25rem;
    padding: 0.25rem;
    border: solid 1px black;
}

#about-define-container {
    display: grid;
    grid-template-rows: auto auto;
    background-color: #FFFFF4;
    padding: 3rem;
    gap: 2rem;
    border-bottom: solid 1px black;
    padding-bottom: 4rem;
}

#about-define-title {
    justify-self: end;
    font-size: 3rem;
}

#about-definition {
    align-self: center;
    justify-self: center;
    width: 50rem;
    line-height: 2rem;
    font-size: 1.5rem;
}