body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #BDBDA1;
    font-family: sans-serif;
}

header {
    display: grid;
    grid-template-columns: 50vw 50vw;
    padding: 1rem;
    border-bottom: solid 1px black;
}

#header-logo {
    height: 4rem;
}

#nav {
    align-self: end;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1rem;
}

footer {
    align-self: end;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: center;
    gap: 1rem;
}

footer img {
    height: 1rem;
}

#email,
#instagram {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
}

a {
    color: black;
    text-decoration: none;
}

#about-top-img-container {
    width: 100vw;
    position: relative;
}

#about-main-img {
    width: 100vw;
    z-index: 1;
}

#about-title {
    position: absolute;
    top: 2rem;
    color: white;
    font-size: 4rem;
    z-index: 2;
    text-align: center;
    width: 100vw;
}

#about-quote-container {
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#about-quote {
    border: solid 1px black;
    width: 30rem;
    font-size: 1.5rem;
    padding: 2rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

#about-experience-btn {
    background-color: rgb(67, 67, 67);
    color: white;
    width: 10rem;
    margin-top: -2rem;
    justify-self: end;
}